<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand text-primary" href="#">
    <h3>DR. AMBEDKAR COLLEGE SPORTS ACADEMY</h3>
  </a>
  <button routerLink="/list" class="btn btn-primary">VIEW</button>
</nav>
<div class="container py-5">
  <div class="col-md-12">

    <hr class="my-3">
    <span class="anchor"></span>
    <div class="col-md-8 pb-3">
      <div class="row">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="sports" checked name="wform" (click)="changeForm(true)">
          <label class="form-check-label" for="sports">Sports</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" id="ground" name="wform" (click)="changeForm(false)">
          <label class="form-check-label" for="ground">Ground</label>
        </div>
      </div>
    </div>
    <div *ngIf="sportsForm">
      <strong>Sports</strong>

      <form [formGroup]="registerForm" autocomplete="off" (ngSubmit)="register(false)" novalidate #formDom>

        <div class="mt-4">

          <div class="row">
            <div class="col-md-8 pb-3">
              <label for="batch">Batch</label>
              <div class="form-group medium">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="batch" formControlName="batch" (keydown.enter)="switchInput($event)" value="MORNING"> Morning
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="batch" formControlName="batch" (keydown.enter)="switchInput($event)" value="EVENING"> Evening
                  </label>
                </div>

              </div>
            </div>
            <div class="col-md-4 pb-3">
              <label for="time">Time (24 Hours)</label>
              <input type="time" class="form-control" name="time" formControlName="time" (keydown.enter)="switchInput($event)" placeholder="Time">
            </div>
          </div>
          <div class="row">
            <h6>Select Membership</h6>

            <div class="col-md-4 pb-3 ml-4" formGroupName="membership">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="q1" formControlName="q1" value="April May June" id="amj">
                <label class="form-check-label" for="amj">
                  <span class="tile">April</span>
                  <span class="tile">May</span>
                  <span class="tile">June</span>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" name="q2" formControlName="q2" type="checkbox" value="July August September" id="jas">
                <label class="form-check-label" for="jas">
                  <span class="tile">July</span>
                  <span class="tile">August</span>
                  <span class="tile">September</span>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="q3" formControlName="q3" value="October November December" id="ond">
                <label class="form-check-label" for="ond">
                  <span class="tile">October</span>
                  <span class="tile">November</span>
                  <span class="tile">December</span>
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="q4" formControlName="q4" value="January February March" id="jfm">
                <label class="form-check-label" for="jfm">
                  <span class="tile">January</span>
                  <span class="tile">February</span>
                  <span class="tile">March</span>
                </label>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-4 pb-3">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" name="firstName" formControlName="firstName" (keydown.enter)="switchInput($event)"
                placeholder="First Name">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="middlename">Middle Name</label>
              <input type="text" class="form-control" name="middleName" formControlName="middleName" (keydown.enter)="switchInput($event)"
                placeholder="Middle Name">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" name="lastName" formControlName="lastName" (keydown.enter)="switchInput($event)"
                placeholder="Last Name">
            </div>
          </div>
          <h5 class="mt-4">Father's Information</h5>
          <div class="row" formGroupName="father">
            <div class="col-sm-8 pb-3">
              <label for="fullname">Father's Name</label>
              <input type="text" class="form-control" name="ffullName" formControlName="ffullName" (keydown.enter)="switchInput($event)"
                placeholder="Father's Full Name">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="occ">Occupation</label>
              <input type="text" class="form-control" name="foccupation" formControlName="foccupation" (keydown.enter)="switchInput($event)"
                placeholder="Occupation">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="annualincome">Annual Income</label>
              <input type="text" class="form-control" name="anualIncome" formControlName="anualIncome" (keydown.enter)="switchInput($event)"
                placeholder="Annual Income">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="mobile">Mobile Number</label>
              <input type="text" class="form-control" name="mobileNo" formControlName="mobileNo" (keydown.enter)="switchInput($event)"
                placeholder="Mobile Number">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="resno">Residential Number</label>
              <input type="text" class="form-control" name="resNo" formControlName="resNo" (keydown.enter)="switchInput($event)" placeholder="Residential Number">
            </div>
          </div>
          <h5 class="mt-4">Mother's Information</h5>
          <div class="row" formGroupName="mother">
            <div class="col-sm-4 pb-3">
              <label for="mfullname">Mothers's Name</label>
              <input type="text" class="form-control" name="mfullName" formControlName="mfullName" (keydown.enter)="switchInput($event)"
                placeholder="Mothers's Full Name">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="mocc">Occupation</label>
              <input type="text" class="form-control" name="moccupation" formControlName="moccupation" (keydown.enter)="switchInput($event)"
                placeholder="Occupation">
            </div>

            <div class="col-sm-4 pb-3">
              <label for="mmobile">Mobile Number</label>
              <input type="text" class="form-control" name="mmobileNo" formControlName="mmobileNo" (keydown.enter)="switchInput($event)"
                placeholder="Mobile Number">
            </div>

          </div>

          <div class="row mt-4">
            <div class="col-sm-4 pb-3">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" name="dob" formControlName="dob" (keydown.enter)="switchInput($event)" placeholder="Date of Birth">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="cclass">Class in which studying</label>
              <input type="text" class="form-control" name="currentClass" formControlName="currentClass" (keydown.enter)="switchInput($event)"
                placeholder="Class in which studying">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="school">Name of School</label>
              <input type="text" class="form-control" name="school" formControlName="school" (keydown.enter)="switchInput($event)" placeholder="School">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 pb-3">
              <label for="addr">Address of correspondence</label>
              <textarea name="address" formControlName="address" (keydown.enter)="switchInput($event)" class="form-control" placeholder="Address"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4 pb-3">
              <label for="height">Height in CMS</label>
              <input type="text" class="form-control" name="heightInCms" formControlName="heightInCms" (keydown.enter)="switchInput($event)"
                placeholder="Height in CMS">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="wght">Weight</label>
              <input type="text" class="form-control" name="weightInKg" formControlName="weightInKg" (keydown.enter)="switchInput($event)"
                placeholder="Weight">
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-sm-12 pb-3">
              <label for="coachingCampDetail">Have you attended any Coaching Camp or Club earlier. If Yes, give details:</label>
              <textarea name="coachingCampDetail" formControlName="coachingCampDetail" (keydown.enter)="switchInput($event)" class="form-control"
                placeholder="Have you attended any Coaching Camp or Club earlier. If Yes, give details"></textarea>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12 pb-3">
              <label for="repSchoolTeam">Have you represented Scholl / Club Team. Yes / No Game Give details:</label>
              <textarea name="repSchoolTeam" formControlName="repSchoolTeam" (keydown.enter)="switchInput($event)" class="form-control"
                placeholder="Have you represented Scholl / Club Team. Yes / No Game Give details"></textarea>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12 pb-3">
              <label for="prevParticipation">Previous Participation in any other games and sports</label>
              <input type="text" class="form-control" name="prevParticipation" formControlName="prevParticipation" (keydown.enter)="switchInput($event)"
                placeholder="">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-sm-12 pb-3">
              <label for="otehrAreaOfInterest">Other areas of Interest - Dance, Music, Drawing, Reading etc.</label>
              <input type="text" class="form-control" name="otehrAreaOfInterest" formControlName="otehrAreaOfInterest" (keydown.enter)="switchInput($event)"
                placeholder="Ex. Dance, Music, Drawing, Reading">
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-8 pb-3">
              <label for="batch">Mode of Payment</label>
              <div class="form-group medium" formGroupControl="mode">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" checked formControlName="mode" (keydown.enter)="switchInput($event)"
                      value="CASH"> CASH
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" (keydown.enter)="switchInput($event)" value="CHEQUE"> CHEQUE
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" (keydown.enter)="switchInput($event)" value="DD"> DD
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" (keydown.enter)="switchInput($event)" value="CARD"> CARD
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" (keydown.enter)="switchInput($event)" value="ONLINE"> ONLINE
                  </label>
                </div>

              </div>
            </div>
          </div>
          <div class="row mt-4">

            <div class="col-sm-4 pb-3">
              <label for="ta">Total Amount</label>
              <input type="text" class="form-control" id="ta" name="totalAmount" [(ngModel)]="tot" formControlName="totalAmount" placeholder="Total Amount">
              <!-- <div *ngIf="totalAmount.invalid &&  (totalAmount.dirty ||totalAmount.touched)" class="error-msg">
                <div *ngIf="totalAmount.errors" class="alert alert-danger">
                  Total amount required
                </div>
              </div> -->
            </div>

            <div class="col-sm-4 pb-3">
              <label for="mobile">Amount Paid</label>
              <input type="number" class="form-control" name="amountPaid" [(ngModel)]="amp" formControlName="amountPaid" placeholder="Amount Paid">
              <!-- <div *ngIf="amountPaid.invalid &&  (amountPaid.dirty || amountPaid.touched)" class="error-msg">
                <div *ngIf="amountPaid.errors" class="alert alert-danger">
                  Amount Paid is required
                </div>
              </div> -->
            </div>
            <div class="col-sm-4 pb-3">
              <label for="mobile">Balance</label>
              <input readonly type="text" class="form-control" [(ngModel)]="bal" name="balance" formControlName="balance" value="{{tot - amp}}"
                placeholder="Balance">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="narration">Narration</label>
              <input type="text" class="form-control" name="narration" formControlName="narration" placeholder="Narration">
            </div>

          </div>
          <div class="row mt-4">
            <div class="col-sm-4 pb-3">
              <label for="addincharge">Admission Incharge</label>
              <input type="text" class="form-control" name="addincharge" formControlName="addincharge" (keydown.enter)="switchInput($event)"
                placeholder="Admission Incharge">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="feespaed">Fees Paid</label>
              <input type="number" class="form-control" name="feesPaid" formControlName="feesPaid" (keydown.enter)="switchInput($event)"
                placeholder="Fees Paid">
            </div>


            <div class="col-sm-4 pb-3">
              <label for="Coach">Coach</label>
              <input type="text" class="form-control" name="coach" formControlName="coach" (keydown.enter)="switchInput($event)" placeholder="Coach">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="Secretary">Secretary</label>
              <input type="text" class="form-control" name="secretary" formControlName="secretary" (keydown.enter)="switchInput($event)"
                placeholder="Secretary">
            </div>
          </div>
        </div>
        <div class="submit col-sm-12">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-success" (click)="register(true)">Save & Print</button>
        </div>
      </form>
    </div>

    <div *ngIf="!sportsForm">
      <form [formGroup]="groundregForm" autocomplete="off" (ngSubmit)="registerg()">
        <strong>Ground</strong>
        <div class="mt-4">

          <div class="row">
            <div class="col-md-4 pb-3">
              <label for="dateFromTo">Date &amp; Time (From to)</label>
              <input type="text" class="form-control" name="dateFromTo" #dpFull="bsDaterangepicker" bsDaterangepicker formControlName="dateFromTo"
                [bsConfig]="{  dateInputFormat: 'DD-MM-YYYY'}">
            </div>
          </div>

          <div class="col-md-8 pb-3">
            <div class="row">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="typep" checked name="category" formControlName="category" value="p" (click)="type('p')">
                <label class="form-check-label" for="typep">Personal</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="typec" name="category" formControlName="category" value="c" (click)="type('c')">
                <label class="form-check-label" for="typec">Company</label>
              </div>
            </div>
          </div>
          <div *ngIf="personal">
            <div class="row" formGroupName="personal">
              <div class="col-sm-4 pb-3">
                <label for="">Name</label>
                <input type="text" required class="form-control" name="name" formControlName="name" placeholder="Name">

              </div>
              <div class="col-sm-4 pb-3">
                <label for="">Contact Number</label>
                <input type="text" class="form-control" name="contactNo" formControlName="contactNo" placeholder="Contact Number">
              </div>
              <div class="col-sm-8 pb-3">
                <label for="">Address</label>
                <textarea type="text" class="form-control" name="address" formControlName="address" placeholder="Addpress"></textarea>

              </div>

            </div>
          </div>
          <div *ngIf="company">
            <div class="row" formGroupName="company">
              <div class="col-sm-4 pb-3">
                <label for="">Company Name</label>
                <input type="text" class="form-control" name="name" formControlName="name" placeholder="Company Name">
              </div>
              <div class="col-sm-4 pb-3">
                <label for="">Contact Number</label>
                <input type="text" class="form-control" name="contactNo" formControlName="contactNo" placeholder="Contact Number">
              </div>
              <div class="col-sm-8 pb-3">
                <label for="">Address</label>
                <textarea type="text" class="form-control" name="address" formControlName="address" placeholder="Addpress"></textarea>

              </div>
            </div>
            <h4>Point of Contact</h4>
            <div class="row" formGroupName="poc">
              <div class="col-sm-4 pb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" formControlName="name" placeholder="Name">
              </div>
              <div class="col-sm-4 pb-3">
                <label for="mobile">Mobile Number</label>
                <input type="text" class="form-control" name="contactNo" formControlName="contactNo" placeholder="Mobile Number">
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-8 pb-3">
              <label for="batch">Mode of Payment</label>
              <div class="form-group medium" formGroupControl="mode">
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" value="CASH"> CASH
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" value="CHEQUE"> CHEQUE
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" value="DD"> DD
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" value="CARD"> CARD
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="mode" formControlName="mode" value="ONLINE"> ONLINE
                  </label>
                </div>

              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-4 pb-3">
              <label for="ta">Total Amount</label>
              <input type="text" class="form-control" id="ta" name="totalAmount" [(ngModel)]="tot" formControlName="totalAmount" placeholder="Total Amount">
              <!-- <div *ngIf="totalAmount.invalid &&  (totalAmount.dirty ||totalAmount.touched)" class="error-msg">
          
              </div> -->
            </div>

            <div class="col-sm-4 pb-3">
              <label for="mobile">Amount Paid</label>
              <input type="number" class="form-control" name="amountPaid" [(ngModel)]="amp" formControlName="amountPaid" placeholder="Amount Paid">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="mobile">Balance</label>
              <input type="text" class="form-control" [(ngModel)]="bal" name="balance" formControlName="balance" value="{{tot - amp}}"
                placeholder="Balance">
            </div>
            <div class="col-sm-4 pb-3">
              <label for="narration">Narration</label>
              <input type="text" class="form-control" name="narration" formControlName="narration" placeholder="Narration">
            </div>

          </div>

        </div>
        <div class="submit col-sm-12">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-success" (click)="registerg(true)">Save & Print</button>
        </div>
      </form>
    </div>

    <div class="col-sm-12" *ngIf="submited">
      Form Submitted...
    </div>

  </div>
</div>