<div class="outer">
  <div class="middle">
    <div class="login-wrap">
      <div class="login">
        <!-- LOGIN FORM -->
        <div class="text-center" style="padding-bottom:100px">
          <div class="logo">
            <img src="{{img}}" width="140" alt="">
          </div>
          <!-- Main Form -->
          <div class="login-form-1">
            <form [formGroup]="loginForm" (ngSubmit)="login()" id="login-form" class="text-left" #formDom autocomplete="off" aria-autocomplete="none">
              <div class="login-form-main-message"></div>
              <div class="main-login-form" [ngClass]="{'error': error}">
                <div class="login-group">
                  <!-- <div class="form-group">
                    <label for="lg_username" class="sr-only">Username</label>
                    <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
                  </div> -->
                  <div class="form-group">
                    <label for="lg_password" class="sr-only">Password</label>
                    <input formControlName="password" type="text" class="form-control" id="lg_password" name="password" onfocus="this.setSelectionRange(0, this.value.length)"
                      placeholder="ENTER PIN">
                  </div>
                </div>
                <button type="submit" (click)="login()" class="login-button">
                  <span class="">
                    <strong>›</strong>
                  </span>
                </button>
              </div>
              <!-- <div class="etc-login-form">
                <p>forgot your password?
                  <a href="#">click here</a>
                </p>
              </div> -->
            </form>
          </div>
          <!-- end:Main Form -->
        </div>
      </div>
    </div>
  </div>
</div>