<div class="page">
  <hr style="color: #ccc;border-top: 2px dashed rgba(0,0,0,0.4); width: 100%; height: 1px; top: 49%; left: 0;  position: absolute;">
  <div *ngFor="let html of [1,2]" class="header">
    <strong>RCP DATE:
      <span style="color: red">{{cDate |date : 'dd/MM/yyyy'}}</span>
    </strong>
    <div class="row" style="margin-right:0">
      <div class=" text-center">
        <p>Param Poojya Dr. Babasaheb Ambedkar Samrak Samiti's</p>
        <h1>DR. AMBEDKAR COLLEGE SPORTS ACADEMY</h1>
        <p>Deeksha Bhoomi, Nagpur - 440010</p>

      </div>
      <div class="">
        <img src="{{img}}" alt="Logo">
      </div>
    </div>

    <table class="headt">

      <tr>
        <td>
          <label>REC NO: </label>

        </td>
        <td>
          <strong>{{recNo}}</strong>
        </td>
        <td></td>
        <td></td>
        <td>
          <label>ID: </label>

        </td>
        <td colspan="">
          <strong>{{userId}}</strong>
        </td>


      </tr>
      <tr>
        <td>
          <label>NAME : </label>
        </td>
        <td colspan="3">
          <strong>{{name}}</strong>
        </td>
        <td>
          <label>MOBILE No.: </label>
        </td>
        <td>
          <strong>{{mobileNo}}</strong>
        </td>
        <td>
          <label>DOB : </label>
        </td>
        <td>
          <strong>{{dob | date : mediumDate}}</strong>
        </td>
      </tr>
      <tr>
        <td>
          <label>CATEGORY : </label>
        </td>
        <td colspan="3">
          <strong>{{caste}}</strong>
        </td>
        <td>
          <label>School: </label>
        </td>
        <td>
          <span>{{school}}</span>
        </td>
      </tr>

    </table>
    <table class="headt">
      <tr>
        <td>
          Paid for :
          <strong>{{paidFor}}</strong>
        </td>

        <td align="right">
          <ul style="list-style: none">
            <li *ngIf="q1">April to June</li>
            <li *ngIf="q2">July to September</li>
            <li *ngIf="q3">October to December</li>
            <li *ngIf="q4">January to March</li>
          </ul>
        </td>
      </tr>
    </table>
    <hr style="border-color: #999" />

    <table class="headt bdy">
      <tr>
        <td>
          Total Amount:

        </td>
        <td>
          <strong>Rs. {{totalAmount}}</strong>
        </td>
      </tr>
      <tr>
        <td>
          Discount Amount:

        </td>
        <td>
          <strong>Rs. {{discountAmount}}</strong>
        </td>
      </tr>
      <tr>
        <td>
          Discount Percent:

        </td>
        <td>
          <strong>{{discountPercent}}</strong>
        </td>
      </tr>
      <tr>
        <td>
          Final Amount:
        </td>
        <td>
          <strong>Rs. {{finalAmount}}</strong>

        </td>
      </tr>
      <tr>
        <td>
          Amount Received:
        </td>
        <td>
          <strong>Rs. {{amountReceived}}</strong>

        </td>
      </tr>
      <tr>
        <td>
          In Words

        </td>
        <td>
          <strong>
            <i style="text-transform: capitalize;border-bottom: solid 1px #000">Rs. {{amountReceived | numberToWords}} Only </i>
          </strong>
        </td>
      </tr>
      <tr>
        <td>
          Balance Amount:

        </td>
        <td>
          <strong>Rs. {{balance}}</strong>
        </td>
      </tr>
      <tr>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td></td>
        <td align="right">
          Signature
        </td>
      </tr>
    </table>
    <hr style="border-color: #000; margin: 30px 0 70px" />

  </div>

</div>